# 3proxy minimal config for Mangoproxy
daemon
log /tmp/3proxy.log
logformat "L%t %U %C:%c %R:%r %O %I %h %T"
auth none
allow 127.0.0.1
proxy -p3128 -a -n -s
parent 1000 http p2.mangoproxy.com 2333 xhv18ztqs15-zone-static-region-ru pompbza2v7efm
flush
